/***********************/
/* START Global staff */

/* START fix container width globaly */
html .e-con-boxed.wd-section-stretch {
	--container-max-width: min(calc(var(--wd-container-w)));
}

body .container {
	padding-left: 0;
	padding-right: 0;
}
/* END fix container width globaly */

/* START Image galery view button fix */
body .pswp__button {
	padding: 0!important;
}
body button.pswp__button:hover {
	background-color: unset!important;
}
/* END Image galery view button fix */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body .container, body .container-fluid {
        padding-right: 32px;
        padding-left: 32px;
    }

    .my-section {
        margin-top: 72px!important;
    }
}

@media screen and (max-width: 767px) {
    body .container, body .container-fluid {
        padding-right: 16px;
        padding-left: 16px;
    }

    .my-section {
        margin-top: 72px!important;
    }
}

.my-section {
	margin-top: 96px!important;
}


/* START CookieYES css */
@media screen and (max-width: 1024px) {
    body .cky-revisit-bottom-left {
        bottom: 10px !important;
    }
}

body .cky-show-desc-btn:hover,
body .cky-accordion-btn:hover {
	background-color: unset;
}

body .cky-notice-btn-wrapper {
	display: flex;
	gap: 8px;
}

@media (max-width: 425px) {
	.cky-notice-btn-wrapper {
		margin-top: 8px;
	}
}

body .cky-notice-btn-wrapper .cky-btn {
	margin: 0;
}

body .cky-btn-revisit-wrapper {
	background-color: var(--wd-primary-color)!important;
}

body .cky-btn-revisit-wrapper button:hover {
	background-color: unset!important;
}
/* END CookieYES css */
/* END Global staff */
/*******************/

/************************/
/* START Cart/Sidecart */
@media screen and (max-width: 430px) {
	body .wd-shipping-progress-bar.wd-style-bordered .wd-free-progress-bar {
		padding: 16px;
		margin-bottom: 34px;
	}
	
	body .wd-shipping-progress-bar.wd-style-bordered .wd-free-progress-bar .progress-msg {
		font-size: 14px;
        display: block;
	}
}

body.woocommerce-cart table.shop_table :is(tbody,tfoot) th {
    padding-left: 0;
}

body.woocommerce-cart .shop_table tr :is(td,th):last-child {
    padding-right: 0;
}

body .cart-widget-side .wd-empty-mini-cart .wc-backward {
	display: flex;
}

.woocommerce-cart th.product-name {
    position: relative;
    left: -100px;
}

/* start fix plus/minus focus/hover effect if elementor is set. */
body input[type="button"].minus:hover,
body input[type="button"].minus:focus {
	border-start-start-radius: var(--wd-form-brd-radius);
    border-end-start-radius: var(--wd-form-brd-radius);
}

body input[type="button"].plus:hover,
body input[type="button"].plus:focus {
	border-start-end-radius: var(--wd-form-brd-radius);
    border-end-end-radius: var(--wd-form-brd-radius);
}
/* end fix plus/minus focus/hover effect if elementor is set. */

body.woocommerce-cart .coupon input[type='text'] {
	height: auto;
}

@media screen and ( max-width: 769px) {
    body.woocommerce-cart .coupon input[type='text'] {
        height: var(--wd-form-height)!important;
    }
}

.woocommerce-cart #select2-calc_shipping_country-container {
	display: flex;
    align-items: center;
    height: 100%;
	white-space: unset;
}

.shopping-cart-widget-footer .wd-progress-bar .progress-msg {
	display: block;
}


/* END Cart/Sidecart */
/********************/

/******************/
/* START checkout-page */

body.woocommerce-checkout .checkout_coupon.woocommerce-form-coupon .input-text {
	height: 100%;
}

body .checkout-order-review:before,
.checkout-order-review:after {
	display: none;
}

/* END checkout-page */
/********************/

/******************/
/* START TY-page */

body.woocommerce-order-received h2 {
	text-transform: inherit;
    font-size: 24px;
}

body.woocommerce-order-received  .woocommerce-table--order-details tfoot tr:last-child th {
	text-transform: inherit;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    body.woocommerce-order-received h2 {
        text-transform: inherit;
        font-size: 20px;
    }
}


/* END TY-page */
/**************/

/********************/
/* START Shop page */


/* Change shop filter icon from burger to filter icon */
body.archive .wd-burger-icon>a:before {
	font-size: 16px!important;
    content: "\f118";
    font-family: "woodmart-font";
}

/* START Category filter and atribute filter clickable whole width and .count elements aligned in one column */
body.categories-accordion-on .widget_product_categories .product-categories {
	padding-right: 4px;
}

.widget_product_categories .product-categories li a,
body .wd-filter-list li a {
	z-index: 9;
}

body.categories-accordion-on .widget_product_categories,
body .wd-filter-list {
	position: relative;
}

body.categories-accordion-on .widget_product_categories .count{
	position: absolute;
	right: 0px;
}

body .wd-filter-list .count {
	position: absolute;
	right: 4px;
}
/* END Category filter and atribute filter clickable whole width and .count elements aligned in one column */

/* END Shop page */
/****************/

/* START Product labels */
body .product-labels.labels-rectangular {
	top: 6px;
	z-index: 99;
}

body.single-product .woocommerce-product-gallery .product-labels.labels-rectangular {
    z-index: 9;
}

@media screen and (max-width: 1024px) {
	
	body .product-labels.labels-rectangular .product-label:before {
		height: 10px!important;
		width: 10px!important;
	}
	
	body .product-labels.labels-rectangular .product-label {
		padding: 6px 6px 6px 7px!important;
	}
	
	body .product-labels.labels-rectangular .product-label {
		font-size: 10px!important;
   	 	line-height: 10px;
	}
}

.single-product .product-image-summary .product-labels.labels-rectangular .product-label {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

body .product-labels.labels-rectangular .product-label.attribute-label {
	color: #fff!important;
}

body .product-labels.labels-rectangular .product-label {
	font-weight: 500;
	font-size: 13px!important;
	line-height: 13px;
	color: #fff;
	letter-spacing: 0.01em;
	padding: 8px 8px 8px 9px!important;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	text-transform: inherit;
}

body .product-labels.labels-rectangular .product-label:not(:last-child) {
	margin-bottom: 5px;
}
/* END Product labels */

/* START Gravity forms */
body .gform_validation_errors {
    border-radius: 0!important;
}

body .gform_validation_errors h2 {
    font-size: 15px!important;
}
/* END Gravity forms */

/* START Footer */
.my-separator {
	margin: 0 6px;
}

.my-footer-foot a {
	font-weight: 700!important;
}

@media screen and (max-width: 430px) {
	.my-separator {
		display: none;
	}

    .my-footer-foot {
		display: flex;
		flex-direction: column;
	}
}

/* END Footer */